{%- assign s = include.series -%}
{%- assign series_posts = site.posts | where: "series", s.id -%}
<ol class="series-list">
  {%- for item in s.parts -%}
  {%- assign post = series_posts | where: "part", item.part | first -%}
  <li class="series-item{% if post %} is-published{% endif %}">
    <span class="series-num">{{ item.part | prepend: "0" | slice: -2, 2 }}</span>
    <div class="series-body">
      {%- if post %}
      <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
      <p class="series-desc">{{ post.description | default: post.excerpt | strip_html | truncate: 200 }}</p>
      <p class="series-meta"><time datetime="{{ post.date | date: '%Y-%m' }}">{{ post.date | date: "%B %Y" }}</time> · {% include read-time.html content=post.content %}</p>
      {%- else %}
      <h4>{{ item.title }}</h4>
      <p class="series-meta"><span class="series-soon">Coming {{ item.planned | date: "%B %Y" }}</span></p>
      {%- endif %}
    </div>
  </li>
  {%- endfor -%}
</ol>
